<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" color="Dark-tint">
      <ion-back-button defaultHref="/menu/studentdistfac"></ion-back-button>
    </ion-button>
    <ion-title>ข้อมูล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let item of DataArr" class="ion-padding">
    <ion-col size="10">
      <div class="ion-text-wrap">
        คณะ{{item.facultyname}} : {{item.total}} คน
      </div>
    </ion-col>
    <ion-col>
      <ion-button color="warning" size="small" routerLink='/addstdend/{{item.ID}}'>
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>