<!-- <ion-header >
  <ion-toolbar color="tertiary">
    <ion-title>ลงชื่อเข้าใช้</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  
  <!-- <h2 class="ion-text-center ion-padding-horizontal" color="dark">ระบบสนับสนุนการตัดสินใจ</h2> -->
  
  <ion-card class="bglogin">
    <ion-card-header>
      <!-- <ion-card-subtitle></ion-card-subtitle> -->
      <ion-card-title class="ion-text-center ion-padding-horizontal"><h2><b>ระบบสนับสนุนผู้บริหารในการวางแผน</b></h2></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form (ngSubmit)="chcklogin()">
        <ion-item >
          <ion-label position="floating" for="username">ชื่อผู้ใช้</ion-label>
          <ion-input #username type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" for="password">รหัสผ่าน</ion-label>
          <ion-input #password type="password"></ion-input>
        </ion-item>
        <ion-button color="tertiary" type="submit" shape="round" expand="full" style="margin-top:30px;">
          ลงชื่อเข้าใช้
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>    
 

</ion-content>