<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" color="Dark-tint">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-button>
    <ion-title>ข้อมูล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let item of DataArr">
    <ion-col size="10">
      <div>
        {{item.stafftype}} : {{item.total}}
      </div>
    </ion-col>
    <ion-col>
      <ion-button color="warning" size="small" routerLink='/add-staffdistfac/{{item.ID}}'>
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>