<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" color="Dark-tint">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-button>
    <ion-title>นักศึกษา</ion-title>
    <ion-button slot="end" color="dark" [routerLink]="['/menu/get-stddistfac']">
      <ion-icon name="create"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
      <!-- refreshingText="Refreshing..." -->
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>นักเรียน</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">
        <h3>คณะครุศาสตร์อุตสาหกรรม</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative;">
        <canvas id="chartstddistdept01" width="100%" height="100%"></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>นักเรียน</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">
        <h3>คณะเทคโนโลยีคหกรรมศาสตร์</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative;">
        <canvas id="chartstddistdept02" width="100%" height="100%"></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>นักเรียน</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">
        <h3>คณะเทคโนโลยีสื่อสารมวลชน</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative;">
        <canvas id="chartstddistdept03" width="100%" height="100%"></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>นักเรียน</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">
        <h3>คณะบริหารธุรกิจ</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative;">
        <canvas id="chartstddistdept04" width="100%" height="100%"></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>นักเรียน</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">
        <h3>คณะวิทยาศาสตร์และเทคโนโลยี</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative;">
        <canvas id="chartstddistdept05" width="100%" height="100%"></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>นักเรียน</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">
        <h3>คณะวิศวกรรมศาสตร์</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative;">
        <canvas id="chartstddistdept06" width="100%" height="100%"></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>นักเรียน</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">
        <h3>คณะศิลปศาสตร์</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative;">
        <canvas id="chartstddistdept07" width="100%" height="100%"></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>นักเรียน</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">
        <h3>คณะอุตสาหกรรมสิ่งทอและออกแบบแฟชั่น</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative;">
        <canvas id="chartstddistdept08" width="100%" height="100%"></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>นักเรียน</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">
        <h3>คณะสถาปัตยกรรมศาสตร์และการออกแบบ</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative;">
        <canvas id="chartstddistdept09" width="100%" height="100%"></canvas>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>