<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mainpage"></ion-back-button>      
      <!-- <ion-menu-button></ion-menu-button> -->      
    </ion-buttons>
    <ion-title>แก้ไขข้อมูล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="modelng">
    <ion-grid>
  <ion-row class="ion-align-items-center">

    <ion-col size="12" >
      <ion-item>
        <ion-label position="floating"><b>ประเภท : </b></ion-label>
        <ion-input [(ngModel)]="modelng.stafftype" placeholder="Enter Age"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating"><b>จำนวน :</b> </ion-label>
        <ion-input [(ngModel)]="modelng.total" placeholder="Enter Address"></ion-input>
      </ion-item>
    </ion-col> 
    <ion-col size="12">
      <ion-button [routerLink]="[ '/menu']" color="success" expand="block">
        ตกลง
      </ion-button>
    </ion-col>   


  </ion-row>
</ion-grid>
</div>
  <!-- <p>{{ modelng | json }}</p> -->
  <!-- <div *ngIf="modelng"> -->
    <!-- <ion-item>
      <ion-label>ID</ion-label>
      <ion-input [(ngModel)]="modelng.ID" placeholder="Enter Name"></ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label>ประเภท : </ion-label>
      <ion-input [(ngModel)]="modelng.stafftype" placeholder="Enter Age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>จำนวน : </ion-label>
      <ion-input [(ngModel)]="modelng.total" placeholder="Enter Address"></ion-input>
    </ion-item>
  </div> -->


  <!-- <ion-button (click)="update()" color="success" size="small">
    Update
  </ion-button> -->
  <!-- <ion-button [routerLink]="[ '/menu']" color="danger" size="small">
    Cancel
  </ion-button> -->

</ion-content>
